<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Edit <%= pet.name %> </title>
  </head>
  <body>
    <h1> Edit <%= pet.name %> </h1> 
    <form action="/pets/<%=pet._id%>?_method=PUT" method="POST">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" value="<%= pet.name %>" placeholder="pet name">
      <br>
      <br>
      <label for="price">Price: </label>
      <input type="text" id="price" name="price" value="<%= pet.price%>" placeholder="price">
      <br>
      <br>
      <label for="category">Category: </label>
      <select name="category" id="category">
        <% for( let category of categories ) { %>
          <option value="<%=category%>" <%= pet.category === category ? "selected":"" %> ><%=category%></option>
        <% } %>
      </select>
      <br>
      <br>
      <button>Submit</button>
    </form>
    <a href="/pets/<%=pet.id%>">Cancel</a>
  </body>
</html>
