<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= pet.name %> </title>
  </head>
  <body>
    <h1><%= pet.name %></h1> 
    <ul>
      <li> Price: $<%= pet.price %> </li>
      <li> Category: <a href="/pets?category=<%=pet.category%>"><%= pet.category%></a></li>
    </ul>
    <a href="/pets/">All Pets</a>
    <a href="/pets/<%= pet.id %>/edit ">Edit Pet</a>
    <form action="/pets/<%= pet.id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </body>
</html>
